eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
server:
  port: 8765
spring:
  application:
    name: service-feign

# 这里一定要开启熔断，不然没有效果的
feign:
  hystrix:
    enabled: true

